body {
    background-image: url(../images/9865408713_aab4970b79_b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
    font-size: 2.5em;
    margin: 1em 0;
}

.clock {
    font-size: 1.5em;
}

.clock-container {
    background-color: rgba(204,204,204,0.7);
    padding: 2em 0;
}

.flip-clock-divider.seconds .flip-clock-label {
    right: -110px;
}

.flip-clock-divider.minutes .flip-clock-label {
    right: -105px;
}

.flip-clock-divider.hours .flip-clock-label {
    right: -97px;
}

.flip-clock-divider.days .flip-clock-label {
    right: -93px;
}


